<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         bootstrap="tests/phpunit/bootstrap.php"
         cacheResult="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutChangesToGlobalState="true">
  <testsuites>
    <testsuite name="AquaLuxe Theme Test Suite">
      <directory>tests/phpunit</directory>
    </testsuite>
  </testsuites>
</phpunit>
