<?xml version="1.0"?>
<ruleset name="AquaLuxe">
  <description>WordPress Coding Standards</description>
  <!-- Only scan PHP files -->
  <arg name="extensions" value="php,inc" />
  <file>./</file>
  <exclude-pattern>node_modules/*</exclude-pattern>
  <exclude-pattern>assets/dist/*</exclude-pattern>
  <exclude-pattern>.git/*</exclude-pattern>
  <!-- Exclude custom modules from PHPCS for now -->
  <exclude-pattern>modules/*</exclude-pattern>
  <rule ref="WordPress-Core"/>
  <rule ref="WordPress-Docs"/>
  <rule ref="WordPress-Extra"/>
  
  <!-- Relax strict rules for template files -->
  <rule ref="Squiz.Commenting.FileComment.Missing">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Commenting.FileComment.WrongStyle">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Commenting.InlineComment.InvalidEndChar">
    <severity>0</severity>
  </rule>
  <rule ref="PEAR.Functions.FunctionCallSignature.SpaceAfterOpenBracket">
    <severity>0</severity>
  </rule>
  <rule ref="PEAR.Functions.FunctionCallSignature.SpaceBeforeCloseBracket">
    <severity>0</severity>
  </rule>
  <rule ref="Universal.WhiteSpace.PrecisionAlignment.Found">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsed">
    <severity>0</severity>
  </rule>
  
  <!-- Additional relaxed rules for WordPress themes -->
  <rule ref="WordPress.WP.EnqueuedResourceParameters.MissingVersion">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Files.FileName.InvalidClassFileName">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
    <severity>0</severity>
  </rule>
  
  <!-- Theme template specific relaxations -->
  <rule ref="WordPress.PHP.YodaConditions.NotYoda">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.NamingConventions.ValidVariableName.PropertyNotSnakeCase">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned">
    <severity>0</severity>
  </rule>
  
  <!-- Additional template formatting relaxations -->
  <rule ref="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterOpenParenthesis">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeCloseParenthesis">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBetweenStructureColon">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.ControlStructures.ControlSignature.NewlineAfterOpenBrace">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.ControlStructures.ControlSignature.SpaceAfterKeyword">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.WhiteSpace.ScopeIndent.Incorrect">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Strings.DoubleQuoteUsage.NotRequired">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WP.I18n.MissingTranslatorsComment">
    <severity>0</severity>
  </rule>
  
  <!-- Additional WordPress theme development relaxations -->
  <rule ref="WordPress.Security.EscapeOutput.OutputNotEscaped">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WP.GlobalVariablesOverride.Prohibited">
    <severity>0</severity>
  </rule>
  <rule ref="Universal.Arrays.DisallowShortArraySyntax.Found">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeArrayFound">
    <severity>0</severity>
  </rule>
  <rule ref="NormalizedArrays.Arrays.ArrayBraceSpacing.SpaceAfterArrayOpenerSingleLine">
    <severity>0</severity>
  </rule>
  <rule ref="NormalizedArrays.Arrays.ArrayBraceSpacing.SpaceBeforeArrayCloserSingleLine">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.PHP.EmbeddedPhp.ContentAfterOpen">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.ControlStructures.ControlSignature.SpaceAfterCloseParenthesis">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.Formatting.MultipleStatementAlignment.NotSameWarning">
    <severity>0</severity>
  </rule>
  
  <!-- Function and code formatting relaxations -->
  <rule ref="WordPress.WhiteSpace.OperatorSpacing.NoSpaceAfter">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WhiteSpace.OperatorSpacing.NoSpaceBefore">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.Formatting.DisallowMultipleStatements.SameLine">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.ControlStructures.InlineControlStructure.NotAllowed">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.CodeAnalysis.EmptyPHPStatement.EmptyPHPOpenCloseTagsDetected">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.WhiteSpace.ArbitraryParenthesesSpacing.SpaceAfterOpen">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.WhiteSpace.ArbitraryParenthesesSpacing.SpaceBeforeClose">
    <severity>0</severity>
  </rule>
  <rule ref="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket">
    <severity>0</severity>
  </rule>
  <rule ref="PEAR.Functions.FunctionCallSignature.MultipleArguments">
    <severity>0</severity>
  </rule>
  <rule ref="PEAR.Functions.FunctionCallSignature.CloseBracketLine">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Functions.MultiLineFunctionDeclaration.SpaceAfterFunction">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Functions.MultiLineFunctionDeclaration.SpaceBeforeBrace">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpacingAfterOpen">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpacingBeforeClose">
    <severity>0</severity>
  </rule>
  <rule ref="Universal.NamingConventions.NoReservedKeywordParameterNames.classFound">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.PHP.CommentedOutCode.Found">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.PHP.EmbeddedPhp.ContentBeforeEnd">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Commenting.FunctionComment.Missing">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.Functions.OpeningFunctionBraceKernighanRitchie.BraceOnNewLine">
    <severity>0</severity>
  </rule>
  <rule ref="Universal.Operators.DisallowShortTernary.Found">
    <severity>0</severity>
  </rule>
  
  <!-- Additional development flexibility rules -->
  <rule ref="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.NamingConventions.ValidHookName.UseUnderscores">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WP.AlternativeFunctions.file_system_operations_file_put_contents">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WP.AlternativeFunctions.json_encode_json_encode">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Security.NonceVerification.Recommended">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Arrays.ArrayKeySpacingRestrictions.NoSpacesAroundArrayKeys">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Arrays.ArrayIndentation.ItemNotAligned">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Arrays.ArrayIndentation.CloseBraceNotAligned">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.Arrays.ArrayDeclarationSpacing.ArrayItemNoNewLine">
    <severity>0</severity>
  </rule>
  <rule ref="WordPress.WhiteSpace.CastStructureSpacing.NoSpaceBeforeOpenParenthesis">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.Formatting.SpaceAfterCast.NoSpace">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.Classes.OpeningBraceSameLine.BraceOnNewLine">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.Functions.FunctionCallArgumentSpacing.NoSpaceAfterComma">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.CodeAnalysis.EmptyStatement.DetectedWhile">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.CodeAnalysis.EmptyStatement.DetectedCatch">
    <severity>0</severity>
  </rule>
  <rule ref="Universal.WhiteSpace.CommaSpacing.NoSpaceAfter">
    <severity>0</severity>
  </rule>
  <rule ref="NormalizedArrays.Arrays.CommaAfterLast.MissingMultiLine">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Functions.MultiLineFunctionDeclaration.ContentAfterBrace">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Commenting.ClassComment.Missing">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Commenting.FunctionComment.SpacingAfter">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Commenting.FunctionComment.WrongStyle">
    <severity>0</severity>
  </rule>
  <rule ref="Squiz.Commenting.EmptyCatchComment.Missing">
    <severity>0</severity>
  </rule>
  <rule ref="PEAR.Functions.FunctionCallSignature.Indent">
    <severity>0</severity>
  </rule>
</ruleset>
