<?xml version="1.0"?>
<ruleset name="AquaLuxe">
  <description>WordPress Coding Standards</description>
  <!-- Only scan PHP files -->
  <arg name="extensions" value="php,inc" />
  <file>./</file>
  <exclude-pattern>node_modules/*</exclude-pattern>
  <exclude-pattern>assets/dist/*</exclude-pattern>
  <exclude-pattern>.git/*</exclude-pattern>
  <!-- Exclude custom modules from PHPCS for now -->
  <exclude-pattern>modules/*</exclude-pattern>
  <rule ref="WordPress-Core"/>
  <rule ref="WordPress-Docs"/>
  <rule ref="WordPress-Extra"/>
</ruleset>
