# Compiled assets
/assets/dist/

# Node modules
/node_modules/

# Environment files
.env
.env.*
!.env.example

# Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.swp
*.swo
*.tmp
*.temp
.cache/

# WordPress specific
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Package files
*.zip
*.tar.gz
*.rar

# Composer
/vendor/