###############################################################################
# AquaLuxe .gitignore
###############################################################################


wordpress/
mariadb/
redis/
logs/
.env